.header {
  background-image: url('../../assets/images/presentation.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-primary);

  h2 {
    font-size: 4rem;
    text-shadow: 2px 2px 5px var(--color-dark);
  }

  h1 {
    font-size: 6rem;
    text-shadow: 2px 2px 5px var(--color-dark);
  }

  div {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite ease-in-out;

    span {
      font-size: 1.5rem;
      animation: bounce 2s infinite;
    }
  }
}

.not-header {
  height: 10vh;
}

@media (max-width: 768px) {
  header {
    background-position: right;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
}
