.servicios {
  justify-content: center;
  margin: 0 auto;
  min-width: 70%;
}

.servicios .h3 {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.servicios .header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px;
  margin: 10px 0;
  border-bottom: 2px solid var(--color-secondary);
}

.servicio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.servicio-item:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-box-medium);
}

.servicio-info {
  text-align: left;
}

.servicio-info h4 {
  margin: 0 0 5px 0;

  font-size: 1.1rem;
  text-align: left;
}

.detail-status {
  color: var(--color-error);
}

.precio {
  margin-top: 6px;
  display: block;
  font-weight: 500;
  color: var(--primary-color);
}

.servicio-accion {
  display: flex;
  gap: 0.5rem;
  padding-left: 1rem;
}
