.confirm-dialog-container-icon {
  display: flex;
  justify-content: center;
}

.confirm-dialog-icon {
  font-size: 60px !important;
  color: var(--color-primary);
}

.confirm-dialog-description {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.confirm-dialog-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
