.servicios {
  justify-content: center;
  margin: 0 auto;
  min-width: 70%;

  h3 {
    color: var(--color-primary);
    font-size: 1.5rem;
  }
}

.servicios .header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px;
  margin: 10px 0;
  border-bottom: 2px solid var(--color-secondary);
}
